Source: nixnote2
Section: utils
Priority: optional
Maintainer: Art Gallagher <launchpad@artmg.org>
Build-Depends:
 debhelper (>= 9),
 default-jdk,
 javahelper,
 libavcodec-dev,
 libavformat-dev,
 libboost-dev,
 libcurl4-openssl-dev | libcurl-dev | libcurl4-nss-dev | libcurl4-gnutls-dev,
 libhunspell-dev,
 libpoppler-qt5-dev,
 libqt5webkit5-dev,
 libswscale-dev,
 libtidy-dev,
 qml,
 qt5-qmake,
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: 3.9.8
Homepage: https://github.com/baumgarr/nixnote2
Vcs-Git: https://github.com/artmg/nixnote2-packaging.git
Vcs-Browser: https://github.com/artmg/nixnote2-packaging

Package: nixnote2
Architecture: any
Depends:
 tidy,
 ${java:Depends},
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 mimetex,
 ${java:Recommends},
Suggests:
 cups,
Description: Open Source Evernote client
 NixNote is a client for the Evernote service (www.evernote.com).  It
 will allow synchronization and editing of notes from your local
 system.
 .
 Once known as "NeverNote", this software was rewritten in C++/Qt to
 provide a native user experience.
 .
 This PPA package adds debian folder files, partly forked from 
 https://anonscm.debian.org/git/collab-maint/nixnote2.git 
 with deep gratitude to 
 Maintainer: Boyuan Yang <073plan@gmail.com>
